container {
    margin-top: 100px;
}

.newarrival {
    background-color: aqua;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.marquee
{
    color:indianred;
}

.col-md-7 h2 {
    color: #808080;
}
.fa-star 
{
    color:gold;
}
